# Logs
logs
*.log

# Dependency directories
node_modules

# Coverage
coverage

# vscode directory
.vscode/*

# nyc test coverage
.nyc_output

# retire and nsp files
scan-nsp.json
scan-retire.json

# Others
*.tgz
.DS_Store
conf/local.js
dist
._*
_tmp
undefined.metadata
npm-debug.log.*